<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home Page</title>
</head>

<body>
   <h1>This is BackEnd</h1>

   <p>
      <button onclick="location.href='/managerAccount'">Quản lý tài khoản</button>
      <button onclick="location.href='/createAccount'">Tạo tài khoản</button>
   </p>

</body>

</html>